.container{
	padding: 16px;

}
.logo{
	font-size:35px;margin-right:10%;
}
body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

.navbar{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
margin-left:5%
  
}
.navbarButton{
  float: left;
  margin-left: 5%;
  margin-top:2%;
}


.navbarButton a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.primary-bar{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:#E3127C ;
color: white;
}

.primary-bar-button{
	float: right;
  margin-right: 3%;
  margin-top:1%;
}
.primary-bar-button a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.primary-bar .logo{
	font-size:40px;margin-left:4%;
	padding: 16px;
	float: left;
}

.header{
	color: white;margin-top:10%;margin-left:8%;
}
.header p{
	margin-left:1%;
}
.header h1{
	margin-top:-1%;
	font-size:45px;
}



.contact-bg{

	margin-top: -12%;
	margin-left: 5%;
	margin-right: 5%;
}



.home-img{
	height:70%;margin-top: -30%;margin-left:45%;
}




.main{
	background: linear-gradient(315deg, #230D99, #D80969);
	 height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}

.sidebar{
	width:4%;
	height:100%;
	position:fixed;
	background-color:#E3127C; 
	overflow:auto;
	margin: 0;
	padding:0;
}

.sidebar a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 16px;
	padding-top:35px; 
 	height:90px;
}

.sidebar a.active{
	background-color:#E3127C;
}

.sidebar a:hover:not(.active){
	background-color:#D80969;
}

.btn{
	background:none;
	border: 1px solid #fff;
	font-size:20px;
	padding:10px 16px;
	cursor: progress;
	margin: 10px;
	font-family: "montserrat";
	transition:0.8s;
	position:relative;
	overflow: hidden;
	color:#fff;
	text-decoration: none;
}

.btn:hover{
	background:#D80969;
	color:#fff;
	border-radius: 10% 10% 10% 10%;
	transition: 0.8s;
}

.main2{
	margin-top:-3%;
	background-color:#D80969 ;
	height:150px;
 padding-left: 15%;
}
.main2Content{
	float: left;
  color: white;
  margin-left:
  5%;margin-top:2%;

}

.main2Content p{
	margin-left:1%;
}

 .main2Content i{
	font-size:300%;
}
.main3{
	
}

.main3Heading{
	margin-left: 10%;
}

.main3Heading p{
		margin-top:3%;font-size:35px;
}

.topContent{

	margin-bottom:10%;
	background-color: #FFE8E8;
	padding: 5%;
	width: 90%;
	height: 100px;
	
    align-items: center;
    text-align: start;
}
.topContent i{
	font-size: 35px;
	float: left;
	color: #950A4B;

}
.topContent a{
	display: inline-block;
	display: -webkit-inline-box; 
   display: -webkit-inline-flex;
   display: -ms-inline-flexbox;
     display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
	text-decoration: none;
}
.main4Heading{
	margin-left:10%;
}

.courseCard{
	padding:1%;
	float: left;

}
.courseCard img{
	width:250px;
	border-radius: 4%;
}
.courseCard .greenLable{
	color: #00994c;
	background-color: #ccffcc;
	display: inline-block;
	padding: 0.5%;

}
.courseCard .title{
	font-size: 30px;
	margin-top: -0.5%;
}
.courseCard .discription{
	font-size: 
	
}

.courseCard i{
 color: #f7c04d;
 margin-top: -0.5%;
}


.btn-primary{
	background:#D80969;
	border: 1px solid #D80969;
	border-radius: 5% 5% 5% 5% ;
	font-size:20px;
	padding:10px 16px;
	cursor: progress;
	margin: 10px;
	font-family: "montserrat";
	transition:0.8s;
	position:relative;
	overflow: hidden;
	color:#fff;
}


.main5{

}


.card-help{
background-color:#FFE8E8;
margin-left: 30%;
width: 40%;
border-radius: 25px;
	
}
.card-help-btn{
	background:#D80969;
	border: 1px solid #D80969;
	border-radius: 5% 5% 5% 5% ;
	font-size:15px;
	padding:10px 16px;
	color: #fff;
	float:right;margin-top:-14%;
	text-decoration: none;
}

.card-help-icon{
	font-size:35px;
	background-color: #D80969;
	padding:16px 25px;
	border-radius: 50px;
	color:#fff;
	font-weight: 100;
	margin-left:-10%;margin-top:-10%;
}


.review-section-p{
	color: #757373;

}
.review-section-h1{
	font-weight: 300;
}
.review-section-ph{
 font-size: 25px;
 font-weight:250;
}
.review{
	
}

.review .review-section-p{
	 font-weight:250 ;
}
.info{
	display: -webkit-inline-box; 
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
}

.teacher-card{
	margin-top: 10%;
	background-color: #FFE8E8;
	padding: 16px 16px 0px 16px;
	height: 275px;

}
.teacher-card h4{
	font-size: 35px;
	font-weight: 800px;
	color:#D80969 ;
}

.teacher-card img{
	margin-left: 50%;
	width: 50%;
 	margin-top: -25%;
}
.teacher-card p{
	width: 50%; 
	display: inline-block;
}

.footer{
	background-color:#D80969;
	padding:16px;
	margin-top: 10%;
}
.footer-card{
	text-align: left;
	width: 23%;
	color: #FFE8E8;
	display: inline-block;
}
.footer-icon{
	margin-left: 10%;
	text-align: center;
}























/*CSS for Course Page*/

/*Main Header*/
.main-header{
	background-color:#FFE8E8;
	height: 175px;
	margin-top: -2%;
}
 .main-header h1{
 font-size: 75px;
 padding-left: 7%;

 }
  .main-header p{
 font-size: 20px;
 padding-left: 7%;
margin-top: -1%;
 }
 .main-header img{
 	width: 10%;
 	float: right;
 	margin-right: 15%;
margin-top: -9%;
 }



.course-content{

}

.course-content-heading{
	margin-left: 10%;
}
.course-content-heading span{
	color:  #950A4B;
}


.course-card{
	padding:1%;
	float: left;
 	margin-top: 2%;
 	font-display: none;
}
.course-card img{
	width:100%;
	border-radius: 4%;
}
.course-card .greenLable{
	color: #00994c;
	background-color: #ccffcc;
	display: inline-block;
	padding: 0.5% 0.5%;

}
.course-card .title{
	font-size: 30px;
	margin-top: -0.5%;
}
.course-card .discription{
	font-size: 
	
}

.course-card i{
 color: #f7c04d;
 margin-top: -0.5%;
}

.course-card a{
	background:#D80969;color:#fff;width:100%;
}

.info-section{
background-color: #D80969;
margin-top: 3%;
margin-bottom: 3;
color: #fff;
padding-left:10%;
padding-right:10%;
padding-top: 2%;
padding-bottom:2%;
text-align: center;
}

.info-section i{
	font-size:75px ;
}
.info-section p{
	font-size: 25px;
	margin-top: -10px;
}
.course-header{
	background-color:#FFE8E8;
	height: 300px;
	margin-top: -2%;
}
.course-header h1{
margin-left: 5%;
padding-top: 5%;
}

.course-header img{
 width:50px;
 margin-left: 5%;

}

.course-card-span{
	color: gray;
}

.course-about{
	
	margin-left: 5%	;
	margin-top: 5%;
}
.course-about p{
	width: 100%;
	color: gray;
	font-size: 20px;
	font-weight:lighter;
}

.course-enroll{
	margin-right: 5%;
	margin-top: -35%;
}
.course-enroll img{
	width:100%;

}
.price{
	font-size: 34px;
    line-height: 34px;
    font-weight: 700;
    padding-left: 5%;

}
.level{
	    min-width: 20px;
    font-size: 15px;
    line-height: 1;
    margin: 0 4px 0 0;
    color: #696969;
    padding: 5% 10% 0% 10%;
}

.course-enroll a{
	margin-left: 10%;
	width: 80%;
	margin-bottom: 10%;
	margin-top: 5%;
	background-color: #950a4b;
}

.course-lesson{


}



/*CSS for Category Page*/

.sidebar-list{

}
.sidebar-list button{
 font-size: 15px;

}
.sidebar-list i{
	font-size: 15px;
}



/*CSS for Category Page */












/*CSS for ENROLL PAGE */

.query-form{
padding: 16px;
margin-bottom: 10%;
}
.query-form input{
	margin: 16px;
	width: 95%;

}
.query-form textarea{
	margin: 16px;
	width: 95%;

}
.query-form select{
	margin: 16px;
	width: 95%;

}
.query-form label{
	margin: 16px;
	font-size: 16px;
}

.enroll-div{
text-align: center;
}

.info-section{
	padding: 16px;
}
/*CSS for ENROLL PAGE */






















/*Mobile Reponsive Meida Queries*/

@media only screen and (max-width: 600px) {
 
.header{
	color: white;margin-top:10%;margin-left:8%;
}
.header p{
	margin-left:1%;
}
.header h1{
	margin-top:-1%;
	font-size:30px;
}

.home-img{
	height:35%;margin-top:5%;margin-left:15%;
}

.btn{

	font-size:15px;

}


.main2{

	height:170px;
	padding-left: 0%;
}

.main2Content{
  color: white;
  margin-top:5%;
  display: inline-block;
  width: 25%;
  text-align: center;
}
 .main2Content i{
	font-size:30px;
}
.card-help{
background-color:#FFE8E8;
margin-left: 10%;
width: 80%;
border-radius: 17px;
	
}
.teacher-card{
	
	padding: 16px 16px 0px 16px;
	height: 400px;

}
.teacher-card h4{
	font-size: 25px;

}
.teacher-card p{
	width: 100%; 
	display: inline-block;
}

.teacher-card img{
	margin-left: 0%;
	width: 75%;
 	margin-top: 0%;
}

.logo{
	font-size:25px;margin-right:5%;
	margin-top: -1%;
}

.main-header{
	text-align: center;

}
.main-header h1{
	font-size: 30px;
padding-left: 0%;
}
.main-header p{
 font-size: 15px;
 margin-right: 10%;
}

.main-header img{
	width: 75px;
	float: none	;
	margin-top:-5%;
	margin-right: 0%;

}


.primary-bar-button a{
	font-size: 11px;
}

.course-card{
	margin-top: 10%;
	margin-left: 0%;

}
.course-card a{
	width: 80%;
}
.course-card img{
	width: 80%;
}
.course-content-heading{
	margin-left:0%;
}
.sidebar-list{
	display: none;

}

.course-about p{
	font-size: 15px;
	text-align: center;
}
.course-card-span{

}
.course-enroll{
	margin-right: 0%;
	margin-top: 5%;
}

.footer-card{
	width: 25%;
}
.footer-icon{

}
.mobile-margin-footer{
margin-left: 30%;
text-align: center;
}
}